<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.provider.persist.dao.GiftExchInfoMapper">
  <resultMap id="BaseResultMap" type="com.fscommunity.platform.provider.persist.pojo.GiftExchInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="gift_id" jdbcType="INTEGER" property="giftId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="exch_state" jdbcType="INTEGER" property="exchState" />
    <result column="obtain_time" jdbcType="TIMESTAMP" property="obtainTime" />
  </resultMap>
  <insert id="insert" parameterType="com.fscommunity.platform.provider.persist.pojo.GiftExchInfo">
    insert into gift_exch_info (id, gift_id, user_id, 
      user_name, apply_time, exch_state, 
      obtain_time)
    values (#{id,jdbcType=INTEGER}, #{giftId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{exchState,jdbcType=INTEGER}, 
      #{obtainTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fscommunity.platform.provider.persist.pojo.GiftExchInfo">
    insert into gift_exch_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="giftId != null">
        gift_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="exchState != null">
        exch_state,
      </if>
      <if test="obtainTime != null">
        obtain_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="giftId != null">
        #{giftId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="exchState != null">
        #{exchState,jdbcType=INTEGER},
      </if>
      <if test="obtainTime != null">
        #{obtainTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.fscommunity.platform.provider.persist.pojo.GiftExchInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="gift_id" jdbcType="INTEGER" property="giftId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="obtain_time" jdbcType="TIMESTAMP" property="obtainTime" />
  </resultMap>
  <insert id="insert" parameterType="com.fscommunity.platform.provider.persist.pojo.GiftExchInfo">
    insert into gift_exch_info (id, gift_id, user_id, 
      user_name, apply_time, state, 
      obtain_time)
    values (#{id,jdbcType=INTEGER}, #{giftId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{obtainTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fscommunity.platform.provider.persist.pojo.GiftExchInfo">
    insert into gift_exch_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="giftId != null">
        gift_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="obtainTime != null">
        obtain_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="giftId != null">
        #{giftId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="obtainTime != null">
        #{obtainTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>