<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.AnnouncementDao">

    <sql id="fields">
    id,
    article_id as articleId,
    title as title,
    create_time as createTime,
    update_time as updateTime
    </sql>

    <insert id="saveAnnouncement" parameterType="com.fscommunity.platform.persist.pojo.AnnouncementInfo">
    insert into
    announcement (
    article_id,
    title
    )
    values
    (
    #{articleId},
    #{title})
      ON DUPLICATE KEY UPDATE
      title=VALUES(title),
      article_id=VALUES(article_id)
    </insert>

    <select id="queryById" parameterType="java.lang.Integer"
      resultType="com.fscommunity.platform.persist.pojo.AnnouncementInfo">
        select
        <include refid="fields"/>
        from announcement
        where id=#{id}
    </select>

    <select id="countAnnouncement" resultType="java.lang.Integer">
        select count(1) from announcement
        <where>
            <if test="fuzzyName != null and fuzzyName !=''">
                title like concat('%',#{fuzzyName},'%')
            </if>
        </where>
        ;
    </select>
    <select id="list" resultType="com.fscommunity.platform.persist.pojo.AnnouncementInfo">
        select
        <include refid="fields"/>
        from announcement
        <where>
            <if test="fuzzyName != null and fuzzyName !=''">
                title like concat('%',#{fuzzyName},'%')
            </if>
        </where>
    </select>

    <update id="updateAnnouncement" parameterType="com.fscommunity.platform.persist.pojo.AnnouncementInfo">
        update announcement
        <set>
            article_id=#{articleId},
            <if test="title != null and title != ''">
                title=#{title},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="delById" parameterType="java.lang.Integer">
        delete from announcement
        where id=#{id}
    </delete>
</mapper>