<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.fscommunity.platform.persist.pojo.Article">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="author_id" jdbcType="INTEGER" property="authorId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="author_name" property="authorName"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="views" jdbcType="INTEGER" property="views"/>
    </resultMap>
    <sql id="fields">
    id,
    author_id,
    name,
    author_name,
    content,
    tag,
    cover_url,
    publish_time,
    update_time,
    views
    </sql>

    <insert id="insert" parameterType="com.fscommunity.platform.persist.pojo.Article">
    insert into
    article (
    author_id,
    name,
    author_name,
    content,
    tag,
    cover_url,
    publish_time,
    update_time,
    views)
    values
    (
    #{authorId,jdbcType=INTEGER},
    #{name,jdbcType=VARCHAR},
    #{authorName},
    #{content,jdbcType=VARCHAR},
    #{tag},
    #{coverUrl},
    #{publishTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP},
    #{views,jdbcType=INTEGER})
      ON DUPLICATE KEY UPDATE
      content=VALUES(content),
      name=VALUES(name),
      author_name=VALUES(author_name),
      tag=VALUES(tag),
      cover_url=VALUES(cover_url),
      update_time=now()
    </insert>

    <select id="list" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="fields"/>
        from article
        <where>
            <if test="fuzzyName != null and fuzzyName !=''">
                and  name like concat('%',#{fuzzyName},'%')
            </if>
        </where>
        order by publish_time DESC
    </select>

    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from article
        where name like concat('%',#{fuzzyName},'%')
    </select>

    <select id="selectById" parameterType="java.lang.Integer"
            resultType="com.fscommunity.platform.persist.pojo.Article">
        SELECT
        <include refid="fields"/>
        FROM article
        WHERE id = #{id}
    </select>

    <select id="selectByIds" parameterType="java.util.List" resultType="com.fscommunity.platform.persist.pojo.Article">
        SELECT
        <include refid="fields"/>
        FROM article
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <update id="updateById" parameterType="com.fscommunity.platform.persist.pojo.Article">
      UPDATE article
        <set>
            <if test="authorName != null and authorName !=''">
                author_name=#{authorName},
            </if>
            <if test="content !=null and content !=''">
                content=#{content},
            </if>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="coverUrl != null and coverUrl !=''">
                cover_url=#{coverUrl}
            </if>
            update_time=now()
        </set>
      WHERE id= #{id}
    </update>

    <update id="updateViewsById" parameterType="com.fscommunity.platform.persist.pojo.Article">
        UPDATE article SET
        views=#{views,jdbcType=INTEGER}
        WHERE id= #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
      DELETE FROM article WHERE id= #{id,jdbcType=INTEGER}
    </delete>
</mapper>