<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.CategoryProjectDao">

    <sql id="fields">
    id,
    article_id as articleId,
    project_type as projectType,
    sub_type AS subType,
    title as title,
    create_time as createTime,
    update_time as updateTime
    </sql>

    <insert id="saveCategoryProject" parameterType="com.fscommunity.platform.persist.pojo.CategoryProjectInfo">
    insert into
    category_project (
    project_type,
    sub_type,
    article_id,
    title
    )
    values
    (
    #{projectType},
    #{subType},
    #{articleId},
    #{title})
      ON DUPLICATE KEY UPDATE
      project_type=values(project_type),
      sub_type=values(sub_type),
      title=VALUES(title),
      article_id=VALUES(article_id)
    </insert>

    <select id="queryById" parameterType="java.lang.Integer"
      resultType="com.fscommunity.platform.persist.pojo.CategoryProjectInfo">
        select
        <include refid="fields"/>
        from category_project
        where id=#{id}
    </select>

    <select id="countCategoryProject" resultType="java.lang.Integer">
        select count(1) from category_project
        <where>
            <if test="projectType != null and projectType !=''">
                AND project_type = #{projectType}
            </if>
            <if test="subType != null and subType !=''">
                and sub_type = #{subType}
            </if>

        </where>
        ;
    </select>
    <select id="list" resultType="com.fscommunity.platform.persist.pojo.CategoryProjectInfo">
        select
        <include refid="fields"/>
        from category_project
        <where>
            <if test="projectType != null and projectType !=''">
              and  project_type = #{projectType}
            </if>
            <if test="subType != null and subType !=''">
               and  sub_type = #{subType}
            </if>

        </where>
    </select>
    <update id="updateCategoryProject" parameterType="com.fscommunity.platform.persist.pojo.CategoryProjectInfo">
        update category_project
        <set>
            article_id=#{articleId},
            <if test="title != null and title != ''">
                title=#{title},
            </if>
            <if test="subType != null and subType != ''">
                sub_type=#{subType},
            </if>

        </set>
        where id=#{id}
    </update>
    <delete id="delById" parameterType="java.lang.Integer">
        delete from category_project
        where id=#{id}
    </delete>
</mapper>