<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.CommentMapper">

    <sql id="fields">
    id,
    target_id,
    user_id,
    content,
    publish_time,
    target_cid,
    target_uid,
    is_replied,
    comment_type,
    is_showed,
    sid
    </sql>

    <insert id="insert" parameterType="com.fscommunity.platform.persist.pojo.Comment">
    insert into comment
    (target_id,
    user_id,
    content,
    publish_time,
    target_cid,
    target_uid,
    is_replied,
    comment_type,
    is_showed,
    sid)
    values (
    #{targetId},
    #{userId},
    #{content},
    #{publishTime},
     #{targetCid},
     #{targetUid},
     #{isReplied},
     #{commentType},
     #{isShowed},
     #{sid})
      ON DUPLICATE KEY UPDATE
      target_id=VALUES(target_id),
      user_id=VALUES(user_id),
      content=VALUES(content),
      publish_time=VALUES(publish_time),
      target_cid=VALUES(target_cid),
      target_uid=VALUES(target_uid),
      is_replied=VALUES(is_replied),
      comment_type=VALUES(comment_type),
      is_showed=VALUES(is_showed),
      sid=VALUES(sid)
    </insert>

    <select id="queryCommentsByIds" parameterType="com.fscommunity.platform.persist.pojo.Comment"
      resultType="com.fscommunity.platform.persist.pojo.Comment">
        select
        <include refid="fields"/>
        from comment
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="list" resultType="com.fscommunity.platform.persist.pojo.Comment">
        select
        <include refid="fields"/>
        from comment
        <where>
            <if test="articleId!=null">
                AND target_id=#{articleId}
            </if>
            <if test="authStatus!=-1">
                and auth_status = #{authStatus}
            </if>
            <if test="replyStatus !=-1">
                and reply_status = #{replyStatus}
            </if>
        </where>
        order by sid ASC, publish_time DESC
    </select>

    <select id="countList" resultType="integer">
        select count(*) from comment
        <where>
            <if test="articleId!=null">
                AND target_id=#{articleId}
            </if>
            <if test="authStatus!=-1">
                and auth_status = #{authStatus}
            </if>
            <if test="replyStatus !=-1">
                and reply_status = #{replyStatus}
            </if>
        </where>
    </select>

    <select id="getCmmtByArticleId" parameterType="java.lang.Integer"
      resultType="com.fscommunity.platform.persist.pojo.Comment">
        select
        <include refid="fields"/>
        from comment
        WHERE target_id=#{articleId}
        order by sid ASC, publish_time DESC
    </select>

    <select id="getCountByArticleId" resultType="java.lang.Integer">
        select count(*) from comment
        where target_id=#{articleId}
    </select>

    <select id="selectById" parameterType="java.lang.Integer"
      resultType="com.fscommunity.platform.persist.pojo.Comment">
        SELECT
        <include refid="fields"/>
        FROM comment
        WHERE id = #{id}
    </select>
    <select id="getByCommentId" resultType="com.fscommunity.platform.persist.pojo.Comment">
        SELECT
        <include refid="fields"/>
        WHERE id = #{id}
    </select>

    <update id="updateById" parameterType="com.fscommunity.platform.persist.pojo.Comment">
      UPDATE comment SET
      target_id=#{targetId,jdbcType=INTEGER},
      user_id=#{userId,jdbcType=VARCHAR},
      content=#{content,jdbcType=VARCHAR},
      publish_time=#{publishTime,jdbcType=TIMESTAMP},
      target_cid=#{targetCid,jdbcType=INTEGER},
      target_uid=#{targetUid,jdbcType=INTEGER},
      is_replied=#{isReplied,jdbcType=INTEGER},
      is_showed=#{isShowed,jdbcType=INTEGER},
      sid=#{sid,jdbcType=INTEGER}
      WHERE id= #{id,jdbcType=INTEGER}
    </update>
    <update id="setSidById" parameterType="com.fscommunity.platform.persist.pojo.Comment">
        UPDATE comment SET
        sid=#{sid,jdbcType=INTEGER}
        WHERE id= #{id}
    </update>
    <update id="updateAuthStatus" parameterType="java.util.Map">
        update comment
        set is_showed=#{showed}
        where id=#{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
      DELETE FROM comment WHERE id= #{id,jdbcType=INTEGER}
    </delete>
</mapper>