<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.IMMapper">
  <resultMap id="BaseResultMap" type="com.fscommunity.platform.persist.pojo.IM">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="send_uid" jdbcType="INTEGER" property="sendUid" />
    <result column="recv_uid" jdbcType="INTEGER" property="recvUid" />
    <result column="is_admin" jdbcType="VARCHAR" property="isAdmin" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="has_read" jdbcType="VARCHAR" property="hasRead" />
  </resultMap>
  <insert id="insert" parameterType="com.fscommunity.platform.persist.pojo.IM">
    insert into im (id, type, content, 
      send_uid, recv_uid, is_admin, 
      createtime, has_read)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{sendUid,jdbcType=INTEGER}, #{recvUid,jdbcType=INTEGER}, #{isAdmin,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{hasRead,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fscommunity.platform.persist.pojo.IM">
    insert into im
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="sendUid != null">
        send_uid,
      </if>
      <if test="recvUid != null">
        recv_uid,
      </if>
      <if test="isAdmin != null">
        is_admin,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="hasRead != null">
        has_read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendUid != null">
        #{sendUid,jdbcType=INTEGER},
      </if>
      <if test="recvUid != null">
        #{recvUid,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasRead != null">
        #{hasRead,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>