<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.MsgBroadMapper">

    <sql id="fields">
    id,
    root_cid as rootCid,
    user_id as userId,
    content,
    publish_time as publishTime,
    target_cid as targetCid,
    target_uid as targetUid,
    is_reply as isReply,
    is_replied as isReplied,
    is_showed as isShowed,
    sid,
    treecode,
    create_time as createTime,
    update_time as updateTime
    </sql>

    <insert id="insert" parameterType="com.fscommunity.platform.persist.pojo.MsgBroad"
            useGeneratedKeys="true" keyProperty="id">
    insert into
    msgbroad (
    root_cid,
    user_id,
    content,
    publish_time,
    target_cid,
    target_uid,
    is_reply,
    is_replied,
    is_showed,
    sid,
    treecode,
    create_time,
    update_time)
    values (
    #{rootCid},
    #{userId},
    #{content},
    #{publishTime},
    #{targetCid},
    #{targetUid},
    #{isReply},
    #{isReplied},
    #{isShowed},
    #{sid},
    #{treecode},
    #{createTime},
    #{updateTime}
    ) ON DUPLICATE KEY UPDATE
      update_time=now()
    </insert>

    <select id="queryById" parameterType="java.lang.Integer" resultType="com.fscommunity.platform.persist.pojo.MsgBroad">
        select
        <include refid="fields"/>
        from msgbroad
        where id=#{id}
    </select>
    <select id="list" resultType="com.fscommunity.platform.persist.pojo.MsgBroad">
        select
        <include refid="fields"/>
        from msgbroad
        <where>
            <if test="authStatus!=-1">
                and is_showed = #{authStatus}
            </if>
            <if test="replyStatus !=-1">
                and is_replied = #{replyStatus}
            </if>
        </where>
        order by sid ASC, publish_time DESC
    </select>
    <select id="countList" resultType="java.lang.Integer">
        select
       count(1)
        from msgbroad
        <where>
            <if test="authStatus!=-1">
                and is_showed = #{authStatus}
            </if>
            <if test="replyStatus !=-1">
                and is_replied = #{replyStatus}
            </if>
        </where>
    </select>


    <update id="updateTreeCode" parameterType="java.util.Map">
        update msgbroad
        set treecode=#{treecode}
        where id=#{id}
    </update>

    <update id="lockForUpdate" parameterType="java.lang.Integer">
        update msgbroad
        set update_time=now()
        where id=#{id}
    </update>
    <update id="updateIsReplied" parameterType="java.lang.Integer">
        UPDATE msgbroad
        SET is_replied = 1
        WHERE id=#{id}
    </update>
    <update id="updateAuthStatus" parameterType="java.util.Map">
        UPDATE msgbroad
        SET is_showed = #{authStatus}
        where id =#{id}
    </update>
    <select id="queryByRootCId" resultType="com.fscommunity.platform.persist.pojo.MsgBroad">
        select
        <include refid="fields"/>
        from msgbroad
        <where>
            <if test="rootCid!=-1">
                and root_cid = #{rootCid}
            </if>
        </where>
        order by publish_time DESC
    </select>
    <select id="wxlist" resultType="com.fscommunity.platform.persist.pojo.MsgBroad">
        select
        <include refid="fields"/>
        from msgbroad
        WHERE is_reply=0
        order by publish_time DESC
    </select>
    <select id="countMsg" resultType="java.lang.Integer">
        select count(1)
        from msgbroad
        WHERE is_reply=0
    </select>

    <select id="queryReplyByRootCids" resultType="com.fscommunity.platform.persist.pojo.MsgBroad">
        SELECT
        <include refid="fields"/>
        from msgbroad
        WHERE root_cid IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>