<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.UserInfoDao">

    <sql id="fields">
        id,
        real_name AS realName,
        cell_phone AS cellPhone,
        phone,
        email,
        open_id AS openId,
        level,
        audit_status AS auditStatus,
        id_card_type AS idCardType,
        id_no AS idNo,
        sex,
        birthday,
        age,
        nation,
        politice_status AS politiceStatus,
        register_type AS registerType,
        native_place AS nativePlace,
        marital_status AS maritalStatus,
        height,
        partymem_of_community AS partyMemOfCommunity,
        blood_type AS bloodType,
        military_service AS militaryService,
        remark,
        baseinfo,
        biz_info AS bizInfo,
        address_info AS addressInfo,
        create_time AS createTime,
        update_time AS updateTime
    </sql>

    <sql id="simpleFields">
        id,
        real_name AS realName,
        cell_phone AS cellPhone,
        phone,
        open_id AS openId
    </sql>

    <insert id="saveUser" parameterType="com.fscommunity.platform.persist.pojo.UserInfo">
        INSERT INTO user_info(
        real_name,
        cell_phone,
        phone,
        email,
        open_id,
        level,
        audit_status,
        id_card_type,
        id_no,
        sex,
        birthday,
        age,
        nation,
        politice_status,
        register_type,
        native_place,
        marital_status,
        height,
        partymem_of_community,
        blood_type,
        military_service,
        remark,
        baseinfo,
        biz_info,
        address_info,
        create_time,
        update_time
        ) VALUES (
        #{realName},
        #{cellPhone},
        #{phone},
        #{email},
        #{openId},
        #{level},
        #{auditStatus},
        #{idCardType},
        #{idNo},
        #{sex},
        #{birthday},
        #{age},
        #{nation},
        #{politiceStatus},
        #{registerType},
        #{nativePlace},
        #{maritalStatus},
        #{height},
        #{partyMemOfCommunity},
        #{bloodType},
        #{militaryService},
        #{remark},
        #{baseinfo},
        #{bizInfo},
        #{addressInfo},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <select id="queryByFuzzyName" parameterType="java.lang.String" resultType="com.fscommunity.platform.persist.pojo.UserInfo">
        SELECT
        <include refid="fields"/>
        FROM user_info
        WHERE real_name LIKE CONCAT('%', #{fuzzyName}, '%')
    </select>

    <select id="queryByUserId" parameterType="java.lang.Integer" resultType="com.fscommunity.platform.persist.pojo.UserInfo">
        SELECT
        <include refid="fields"/>
        FROM user_info
        WHERE id=#{id}
    </select>

    <select id="querySimpleInfoByIds" parameterType="java.util.List" resultType="com.fscommunity.platform.persist.pojo.UserSimpleInfo">
        select
        <include refid="simpleFields"/>
        FROM user_info
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryByRealName" parameterType="java.lang.String" resultType="com.fscommunity.platform.persist.pojo.UserInfo">
        SELECT
        <include refid="fields"/>
        FROM user_info
        WHERE real_name=#{realName}
    </select>

    <select id="queryUserInfoByOpenId" parameterType="java.lang.String" resultType="com.fscommunity.platform.persist.pojo.UserInfo">
        SELECT
        <include refid="fields"/>
        FROM user_info
        WHERE open_id=#{openId}
    </select>

    <update id="updateBizInfo" parameterType="com.fscommunity.platform.persist.pojo.UserInfo">
        UPDATE user_info
        SET biz_info=#{bizInfo}
        WHERE id=#{id}
    </update>

    <update id="updateLevelByUserId" parameterType="java.util.Map">
        UPDATE user_info
        SET level=#{level}
        WHERE id=#{id}
    </update>
</mapper>
