<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.fscommunity.platform.persist.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="usedname" jdbcType="VARCHAR" property="usedname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="domicile_status" jdbcType="VARCHAR" property="domicileStatus" />
    <result column="domicile_addr" jdbcType="VARCHAR" property="domicileAddr" />
    <result column="domicile_type" jdbcType="VARCHAR" property="domicileType" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="adress1" jdbcType="VARCHAR" property="adress1" />
    <result column="adress2" jdbcType="VARCHAR" property="adress2" />
    <result column="adress3" jdbcType="VARCHAR" property="adress3" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="domicile_origin" jdbcType="VARCHAR" property="domicileOrigin" />
    <result column="ethnicity" jdbcType="VARCHAR" property="ethnicity" />
    <result column="political_status" jdbcType="VARCHAR" property="politicalStatus" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="marital_status" jdbcType="VARCHAR" property="maritalStatus" />
    <result column="foreign_marriage" jdbcType="VARCHAR" property="foreignMarriage" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="blood_type" jdbcType="VARCHAR" property="bloodType" />
    <result column="religion" jdbcType="VARCHAR" property="religion" />
    <result column="military_status" jdbcType="VARCHAR" property="militaryStatus" />
    <result column="specialties" jdbcType="VARCHAR" property="specialties" />
    <result column="part_time_job" jdbcType="VARCHAR" property="partTimeJob" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fscommunity.platform.persist.pojo.User">
    <result column="lcp" jdbcType="LONGVARBINARY" property="lcp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, avatar, nickname, wechat, status, realname, usedname, mobile, tel, email, 
    sex, birthday, last_login_date, relation, domicile_status, domicile_addr, domicile_type, 
    reason, adress1, adress2, adress3, country, domicile_origin, ethnicity, political_status, 
    education, marital_status, foreign_marriage, height, blood_type, religion, military_status, 
    specialties, part_time_job, tips
  </sql>
  <sql id="Blob_Column_List">
    lcp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fscommunity.platform.persist.pojo.User">
    insert into user_info (id, openid, avatar, 
      nickname, wechat, status, 
      realname, usedname, mobile, 
      tel, email, sex, birthday, 
      last_login_date, relation, domicile_status, 
      domicile_addr, domicile_type, reason, 
      adress1, adress2, adress3, 
      country, domicile_origin, ethnicity, 
      political_status, education, marital_status, 
      foreign_marriage, height, blood_type, 
      religion, military_status, specialties, 
      part_time_job, tips, lcp
      )
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{realname,jdbcType=VARCHAR}, #{usedname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{birthday,jdbcType=TIMESTAMP}, 
      #{lastLoginDate,jdbcType=TIMESTAMP}, #{relation,jdbcType=VARCHAR}, #{domicileStatus,jdbcType=VARCHAR}, 
      #{domicileAddr,jdbcType=VARCHAR}, #{domicileType,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{adress1,jdbcType=VARCHAR}, #{adress2,jdbcType=VARCHAR}, #{adress3,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{domicileOrigin,jdbcType=VARCHAR}, #{ethnicity,jdbcType=VARCHAR}, 
      #{politicalStatus,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{maritalStatus,jdbcType=VARCHAR}, 
      #{foreignMarriage,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, #{bloodType,jdbcType=VARCHAR}, 
      #{religion,jdbcType=VARCHAR}, #{militaryStatus,jdbcType=VARCHAR}, #{specialties,jdbcType=VARCHAR}, 
      #{partTimeJob,jdbcType=VARCHAR}, #{tips,jdbcType=VARCHAR}, #{lcp,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fscommunity.platform.persist.pojo.User">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="usedname != null">
        usedname,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="lastLoginDate != null">
        last_login_date,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="domicileStatus != null">
        domicile_status,
      </if>
      <if test="domicileAddr != null">
        domicile_addr,
      </if>
      <if test="domicileType != null">
        domicile_type,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="adress1 != null">
        adress1,
      </if>
      <if test="adress2 != null">
        adress2,
      </if>
      <if test="adress3 != null">
        adress3,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="domicileOrigin != null">
        domicile_origin,
      </if>
      <if test="ethnicity != null">
        ethnicity,
      </if>
      <if test="politicalStatus != null">
        political_status,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="foreignMarriage != null">
        foreign_marriage,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="bloodType != null">
        blood_type,
      </if>
      <if test="religion != null">
        religion,
      </if>
      <if test="militaryStatus != null">
        military_status,
      </if>
      <if test="specialties != null">
        specialties,
      </if>
      <if test="partTimeJob != null">
        part_time_job,
      </if>
      <if test="tips != null">
        tips,
      </if>
      <if test="lcp != null">
        lcp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="usedname != null">
        #{usedname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null">
        #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="domicileStatus != null">
        #{domicileStatus,jdbcType=VARCHAR},
      </if>
      <if test="domicileAddr != null">
        #{domicileAddr,jdbcType=VARCHAR},
      </if>
      <if test="domicileType != null">
        #{domicileType,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="adress1 != null">
        #{adress1,jdbcType=VARCHAR},
      </if>
      <if test="adress2 != null">
        #{adress2,jdbcType=VARCHAR},
      </if>
      <if test="adress3 != null">
        #{adress3,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="domicileOrigin != null">
        #{domicileOrigin,jdbcType=VARCHAR},
      </if>
      <if test="ethnicity != null">
        #{ethnicity,jdbcType=VARCHAR},
      </if>
      <if test="politicalStatus != null">
        #{politicalStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="foreignMarriage != null">
        #{foreignMarriage,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="bloodType != null">
        #{bloodType,jdbcType=VARCHAR},
      </if>
      <if test="religion != null">
        #{religion,jdbcType=VARCHAR},
      </if>
      <if test="militaryStatus != null">
        #{militaryStatus,jdbcType=VARCHAR},
      </if>
      <if test="specialties != null">
        #{specialties,jdbcType=VARCHAR},
      </if>
      <if test="partTimeJob != null">
        #{partTimeJob,jdbcType=VARCHAR},
      </if>
      <if test="tips != null">
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="lcp != null">
        #{lcp,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fscommunity.platform.persist.pojo.User">
    update user_info
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="usedname != null">
        usedname = #{usedname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginDate != null">
        last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="domicileStatus != null">
        domicile_status = #{domicileStatus,jdbcType=VARCHAR},
      </if>
      <if test="domicileAddr != null">
        domicile_addr = #{domicileAddr,jdbcType=VARCHAR},
      </if>
      <if test="domicileType != null">
        domicile_type = #{domicileType,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="adress1 != null">
        adress1 = #{adress1,jdbcType=VARCHAR},
      </if>
      <if test="adress2 != null">
        adress2 = #{adress2,jdbcType=VARCHAR},
      </if>
      <if test="adress3 != null">
        adress3 = #{adress3,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="domicileOrigin != null">
        domicile_origin = #{domicileOrigin,jdbcType=VARCHAR},
      </if>
      <if test="ethnicity != null">
        ethnicity = #{ethnicity,jdbcType=VARCHAR},
      </if>
      <if test="politicalStatus != null">
        political_status = #{politicalStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="foreignMarriage != null">
        foreign_marriage = #{foreignMarriage,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=VARCHAR},
      </if>
      <if test="bloodType != null">
        blood_type = #{bloodType,jdbcType=VARCHAR},
      </if>
      <if test="religion != null">
        religion = #{religion,jdbcType=VARCHAR},
      </if>
      <if test="militaryStatus != null">
        military_status = #{militaryStatus,jdbcType=VARCHAR},
      </if>
      <if test="specialties != null">
        specialties = #{specialties,jdbcType=VARCHAR},
      </if>
      <if test="partTimeJob != null">
        part_time_job = #{partTimeJob,jdbcType=VARCHAR},
      </if>
      <if test="tips != null">
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="lcp != null">
        lcp = #{lcp,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fscommunity.platform.persist.pojo.User">
    update user_info
    set openid = #{openid,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      realname = #{realname,jdbcType=VARCHAR},
      usedname = #{usedname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      relation = #{relation,jdbcType=VARCHAR},
      domicile_status = #{domicileStatus,jdbcType=VARCHAR},
      domicile_addr = #{domicileAddr,jdbcType=VARCHAR},
      domicile_type = #{domicileType,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      adress1 = #{adress1,jdbcType=VARCHAR},
      adress2 = #{adress2,jdbcType=VARCHAR},
      adress3 = #{adress3,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      domicile_origin = #{domicileOrigin,jdbcType=VARCHAR},
      ethnicity = #{ethnicity,jdbcType=VARCHAR},
      political_status = #{politicalStatus,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      foreign_marriage = #{foreignMarriage,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      blood_type = #{bloodType,jdbcType=VARCHAR},
      religion = #{religion,jdbcType=VARCHAR},
      military_status = #{militaryStatus,jdbcType=VARCHAR},
      specialties = #{specialties,jdbcType=VARCHAR},
      part_time_job = #{partTimeJob,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR},
      lcp = #{lcp,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fscommunity.platform.persist.pojo.User">
    update user_info
    set openid = #{openid,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      realname = #{realname,jdbcType=VARCHAR},
      usedname = #{usedname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      last_login_date = #{lastLoginDate,jdbcType=TIMESTAMP},
      relation = #{relation,jdbcType=VARCHAR},
      domicile_status = #{domicileStatus,jdbcType=VARCHAR},
      domicile_addr = #{domicileAddr,jdbcType=VARCHAR},
      domicile_type = #{domicileType,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      adress1 = #{adress1,jdbcType=VARCHAR},
      adress2 = #{adress2,jdbcType=VARCHAR},
      adress3 = #{adress3,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      domicile_origin = #{domicileOrigin,jdbcType=VARCHAR},
      ethnicity = #{ethnicity,jdbcType=VARCHAR},
      political_status = #{politicalStatus,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      foreign_marriage = #{foreignMarriage,jdbcType=VARCHAR},
      height = #{height,jdbcType=VARCHAR},
      blood_type = #{bloodType,jdbcType=VARCHAR},
      religion = #{religion,jdbcType=VARCHAR},
      military_status = #{militaryStatus,jdbcType=VARCHAR},
      specialties = #{specialties,jdbcType=VARCHAR},
      part_time_job = #{partTimeJob,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>