<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.VerifyCodeDao">

    <sql id="fields">
        id,
        phone,
        code,
        biz_type AS bizType,
        code_status AS codeStatus,
        create_time AS createTime,
        update_time as updateTime
    </sql>

    <insert id="saveVerifyCode" parameterType="com.fscommunity.platform.persist.pojo.VerifyCode">
        INSERT INTO verify_code(
        phone,
        code,
        biz_type,
        code_status,
        create_time,
        update_time
        ) VALUES (
        #{phone},
        #{code},
        #{bizType},
        #{codeStatus},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <select id="queryValidCode" parameterType="java.util.Map" resultType="com.fscommunity.platform.persist.pojo.VerifyCode">
        SELECT
        <include refid="fields"/>
        FROM verify_code
        WHERE phone=#{phone} AND biz_type=#{bizType} AND code_status='NEW'
    </select>

    <update id="updateStatus" parameterType="com.fscommunity.platform.persist.pojo.VerifyCode">
        UPDATE verify_code
        SET code_status = #{codeStatus}
        WHERE phone=#{phone} AND biz_type=#{bizType}
        AND code=#{code}
    </update>
</mapper>
