<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fscommunity.platform.persist.dao.VoteItemMapper">

    <sql id="fields">
    id,
    vote_id as voteId,
    content,
    voter_list as voterList,
    voter_sum as voterSum,
    create_time as createTime,
    update_time as updateTime
    </sql>

    <insert id="insert" parameterType="com.fscommunity.platform.persist.pojo.VoteItem"
            useGeneratedKeys="true" keyProperty="id">
    insert into
    vote_item(
    vote_id,
    content,
    voter_list,
    voter_sum,
    create_time,
    update_time)
    values(
    #{voteId,jdbcType=INTEGER},
    #{content,jdbcType=VARCHAR},
    #{voterList,jdbcType=VARCHAR},
    #{voterSum,jdbcType=INTEGER},
    #{createTime},
    #{updateTime}
    )ON DUPLICATE KEY UPDATE
      content=VALUES(content),
      update_time=now()
    </insert>

    <select id="queryItemsByIds" resultType="com.fscommunity.platform.persist.pojo.VoteItem">
        select
        <include refid="fields"/>
        from vote_item
        where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryItemsByVoteId" resultType="com.fscommunity.platform.persist.pojo.VoteItem">
        select
        <include refid="fields"/>
        from vote_item
        where vote_id=#{voteId}
    </select>



    <update id="lockForLock" parameterType="java.lang.Integer">
        update vote_item
        set update_time=now()
        where id=#{id}
    </update>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from vote_item
    </select>

    <select id="selectById" parameterType="java.lang.Integer"
            resultType="com.fscommunity.platform.persist.pojo.VoteItem">
        SELECT
        <include refid="fields"/>
        FROM vote_item
        WHERE id = #{id}
    </select>

    <update id="updateCountById" parameterType="java.util.Map">
        update vote_item
        set voter_sum=#{count}
        where id=#{id}
    </update>

    <update id="updateById" parameterType="com.fscommunity.platform.persist.pojo.VoteItem">
      UPDATE vote_item SET
      vote_id=#{voteId,jdbcType=INTEGER},
      content=#{content,jdbcType=VARCHAR},
      voter_list=#{voterList,jdbcType=VARCHAR},
      voter_sum=#{voterSum,jdbcType=INTEGER}
      WHERE id= #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
      DELETE FROM vote_item WHERE id= #{id,jdbcType=INTEGER}
    </delete>
</mapper>