<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysgh.pro.service.dao.WxCodeDao">

    <sql id="fields">
        id,
        wx_code AS wxCode,
        interface_token AS interfaceToken,
        web_auth_token AS webAuthToken,
        web_auth_refresh AS webAuthRefreshToken,
        jsapi_ticket AS jsApiTicket,
        create_time AS createTime,
        update_time AS updateTime
    </sql>

    <insert id="saveWxToken" parameterType="com.ysgh.pro.service.bean.WxToken">
        INSERT INTO wx_token(
        wx_code,
        interface_token,
        web_auth_token,
        web_auth_refresh,
        jsapi_ticket,
        create_time,
        update_time
        ) VALUES (
        #{wxCode},
        #{interfaceToken},
        #{webAuthToken},
        #{webAuthRefreshToken},
        #{jsApiTicket},
        #{createTime},
        #{updateTime}
        ) ON DUPLICATE KEY UPDATE
        wx_code=VALUES(wx_code),
        interface_token=VALUES(interface_token),
        web_auth_token=VALUES(web_auth_token),
        web_auth_refresh=VALUES(web_auth_refresh),
        jsapi_ticket=VALUES(jsapi_ticket),
        update_time=now()
    </insert>

    <select id="queryToken" parameterType="java.lang.String" resultType="com.ysgh.pro.service.bean.WxToken">
        SELECT
        <include refid="fields"/>
        FROM wx_token
        WHERE wx_code=#{wxCode}
    </select>

    <update id="updateInterfaceToken" parameterType="java.util.Map">
        UPDATE wx_token
        SET interface_token = #{token}
        WHERE wx_code=#{wxCode}
    </update>
    <update id="updateWebToken" parameterType="java.util.Map">
        UPDATE wx_token
        SET web_auth_token = #{token}
        WHERE wx_code=#{wxCode}
    </update>
    <update id="updateWebRefreshToken" parameterType="java.util.Map">
        UPDATE wx_token
        SET web_auth_refresh = #{token}
        WHERE wx_code=#{wxCode}
    </update>
    <update id="updateTicketToken" parameterType="java.util.Map">
        UPDATE wx_token
        SET jsapi_ticket = #{token}
        WHERE wx_code=#{wxCode}
    </update>
</mapper>
